# Ignore Terraform local directory
.terraform*

# Ignore override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore Terraform plan output files
*.tfplan
*.tfstate
.tfstate.*

# Ignore CLI configuration files
.terraformrc
terraform.rc
